.m-index{
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    & > *{
        width: 100%;
    }
    > header{
        background: #ff435e;
        height: 0.59rem;
        ul{
            width: 100%;
            height: 100%;
            @include flexbox();
            li{
                 @include flexbox();
                 @include justify-content(center);
                 @include align-items(center);
                &:first-child{
                 width: .59rem; 
                 line-height: .59rem;
                 img{
                    width: 85%;
                }
                }
                &:nth-child(2){
                    @include flex();
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center); 
                     input{
                        width: 100%;
                        display:block;
                        height: .37rem;
                        text-align: center;
                        @include border-radius(5px);
                        border: 0;
                      }    
                }
                &:last-child{
                    width: .59rem; 
                    @include flexbox();
                    @include flex-direction(column);
                    text-align: center;
                     i{
                        color: #fff;
                        font-size: .20rem;
                        display: block;
                        line-height: .18rem;
                        padding-top: .01rem;
                        padding-right: .03rem;
                        transform: rotate(-8deg);
                    }
                    b{
                        color: #fff;
                        display: block;
                        font-size: .14rem;
                        letter-spacing: 2px;
                        font-weight: normal;
                    }  
                }
            }
        }
    }
    section{
        background: blue;
        @include flex();
        @include flexbox();
        @include flex-direction(column);
        width: 100%;
        .banner{
        background: #f66;
        height: 1.43rem;
        img{
            width: 100%;
            height: 100%;
        }
        }
        nav{
         background: #fff;
         height: 2.4rem;
         padding-bottom: .23rem;
         padding-top: .20rem;
         @include box-sizing(border-box);
         > ul{             
            width:100%;
            height: 1.08rem;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
//           @include box-sizing(border-box);
            li{
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
//              padding-top: .05rem;
                @include box-sizing(border-box);
                div{
                    &:nth-child(1){
                        width: 50%;
                    }
                    &:nth-child(2){
                        height: .45rem;
                        padding-top:.08rem;
                        text-align: center;
                    }
                  
                }
                img{
                    width: 100%;
                }
            }
         }
        }
        footer{
         @include flex();
         width: 100%;
         background-color: #ececec;
         header{
           height: .42rem;
           padding-left:.10rem;
           @include flexbox();
           @include align-items(center)
           > div{
             display: inline-block;
             &:nth-child(1){
               width: 6px;
               height: 6px;
               background-color: #fe3351;
               @include transform(rotate(45deg));
            }
            &:nth-child(2){
                padding-left: .1rem;
            }
           }
         }
         ul{
             @include flexbox();
             @include justify-content(center);
             padding-left: .1rem;
             padding-bottom: .13rem;
             @include box-sizing(border-box);
             height: 2.32rem;
           li{
             height: 2.29rem;
             position: relative;  
               img{
                   height: 1.77rem;
                   width: 95%;
               }
               span{
                   position: absolute;
                   height: .16rem;
                   width: 0.54rem;
                   font-size: 12px;
                   right: 0.09rem;
                   bottom:.56rem;
                   z-index: 9999;
                   background: rgba(255,255,255,.8);
                   border-top-left-radius:5px;
                   border-bottom-left-radius:5px;
                   text-align: center;
                   color: #9e172d;
               }
               b{
                   display: block;
                   width: 95%;
                   height: .45rem;
                   background-color:rgba(255,255,255,.9);
                   bottom: 0;
                   left: 0;
                   line-height:.45rem;
                   font-size: 12px;
                   font-weight: normal;
                   padding-left: .1rem;
                   @include box-sizing(border-box);
               }
           }  
         }
        }
    }
    &>footer{
        background: yellow;
        height: 0.52rem;
        position: relative;
        z-index: 99999;
    }
}
